/*
RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans';
}
.header-top-sx > ul > li a{
    text-decoration: none;
}

.header-top-sx > ul{
    list-style-type: none;
}
.header-top-dx > ul > li a{
    text-decoration: none;
}
.header-top-dx > ul{
    list-style-type: none;
}
img{
    width: 100%;
    height: 100%;
}
#logo{
    width: 127px;
    height: 25px;
}
/*
HEADER
*/
header{
    width: 100%;
    min-height: 100px;
}

.header-top{
    display: flex;
    justify-content: space-between;
}

.header-top-sx{
    width: calc(100% / 2);
    min-height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    
}
.header-link-sx{
    display: flex;
    flex-direction: row;
}
.listed-link-sx{
    padding-left: 40px;
    
}
.header-top-dx{
    width: calc(100% / 2);
    min-height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}
.header-link-dx{
    display: flex;
    flex-direction: row;
}
.listed-link-dx{
    padding-right: 40px;
}
#link-style{
    color: black;
}
.dx-button-container{
    width: 120px;
    display: flex;
    justify-content: center;

}
.button-style{
    font-size: 1em;
    font-family: 'Open Sans';
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: black;
    width: calc(100% / 2);
    padding:5px 5px;
}
.header-button-sx{
    background-color: #FFFFFF;
}
.header-button-dx{
    background-color: #0061FF;
    color: white;
}

/*
HEADER BOTTOM
*/
.header-bottom{
    background-color: #B4D0E7;
}
.section-header-bottom{
    width: 1200px;
    margin: 0 auto;
    --background-color: yellow;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}
h1{
    padding-top: 50px ;
    padding-bottom: 20px;
    font-size: 4.2em;
    font-weight: 1000;
    
}
.main-dscpt{
    width:30%;
    padding-top: 50px;
    height: 500px;
}
.img-container{
    width: 70%;
    height: 500px;
    position: relative;

    
}
.button-prova-grt{
    font-size: 1em;
    font-family: 'Open Sans';
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0px;
    padding: 10px 20px 10px;
    background-color:#0061FF ;
    color: white;
    cursor: pointer;
}
.fa-arrow-down{
    margin-top: 70px;
    font-size: 3em;
}

.img-jumbo{
    width: 100%;
    --height: 100%;
    position: absolute;
    top:50px;
    left: 100px;
}

/*
MAIN
*/
.abb-container{
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    min-height: 400px;

}
.radio-selectors{
    margin-bottom: 50px;
}
main h2 {
    font-size: 2.7em;
    margin-top: 50px;
    margin-bottom: 50px;
}

 #info-abb-container > .my-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
    
}

#info-abb-container > .my-row > .my-col{
    width: 30%;
    border: 1px solid black;
}

#info-abb-container > .my-row > .my-col:last-child{
    width: 100%;
}

#plains-title{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 5px 10px 5px;
}
#plains-name-price{
    padding: 20px 15px 20px;
}
#sub-title-price{
    padding-top: 20px;
    padding-bottom: 20px;
}

.my-col >ul{
    text-decoration: none;
    list-style: none;
    padding-top: 15px;
    padding-left: 15px;
}
.my-col >ul >li{
    padding-bottom: 15px;
}
.button-my-col{
    margin-left: 15px;
}
.button-my-col2{
    
    margin-left: 15px;
}
.my-col >p{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
}
.last-coll{
    margin-top: 50px;
}
.last-col-abb{
    display: flex;
    justify-content: space-between;
    
}
#large-container{
    width: 60%;
    min-height: 100px;
}
#small-container{
    width: 40%;
    min-height: 100px;
        
}
.last-coll-abb-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.last-col-abb > #large-container > h3{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
}
.last-col-abb > #large-container >p{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
}
.vendor-button{
    margin-right: 15px;
}


.container-section2{
    display: flex;
    
}
.container-section2 >#small-container{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.container-section2 >#small-container >h3{
    font-size:1.5em ;
    padding-top: 20px;
    padding-bottom: 20px;
}
.partner-button{
    border: 1px solid black;
    margin-top: 20px;
    padding: 10px 20px 10px;
    text-decoration: none;
    list-style: none;
    font-size: 1em;
    cursor: pointer;
    background-color: none;
}
.my-row-features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.my-col-features{
    width: 30%;
    min-height: 100px;
    margin-bottom: 50px;
}
.bottom-advs{
    background-color: #B4D0E7;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adv-title-bottom{
    margin-right: 100px;
}
.adv-button-container{
    margin-top: -50px;
    

}
.adv-button{
    width: 300px;
    padding:10px 30px 10px;
    margin-left: 50px;
    font-size: 1em;
    color: black;
    border: 0px;
    cursor: pointer;
}
.hr-faqs{
    border-top: solid 1px;
    border-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}
.faqs{
    display: inline-block;
}
.menu-down{
    margin-left: 300px;
}
/*
FOOTER
*/
footer{
    padding-top: 100px;
    min-height: 50px;
    background-color:#000000 ;

}
.footer-container{
    width: 1200px;
    margin: 0 auto;
    min-height: 50px;
}
.footer-my-row{
    display: flex;
    
}
.footer-my-col{
    width: calc(100% / 5);
}

.footer-my-col >ul >li {
    padding-bottom: 15px;
    
}


.footer-my-col > ul > li a{
    text-decoration: none;
    color: white;
}
.footer-my-col > ul{
    list-style-type: none;
}
.hr-footer{
    width: 130px;
    border-top: solid 1px;
    border-color: white;
    margin-top: 50px;
    
}
.lang-selector{
    margin-top: 30px;
   padding-bottom: 30px;
    color: #999999;
}
.link-footer-title{
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 30px;
}
.fa-caret-up{
    color: #999999;
    text-align: center;
}
    
